{% extends 'base.html.twig' %}

{% block title %}Edit Cardinal{% endblock %}

{% block body %}
    <h1>Edit Cardinal</h1>

    {{ include('cardinal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cardinal_index') }}">back to list</a>

    {{ include('cardinal/_delete_form.html.twig') }}
{% endblock %}
