@media screen and (max-width: 468px){
  .navbar-light{
    .navbar-nav .nav-link{
      padding: 5px;
    }
  }

  .accueil-carousel{
    .logo-partenaire{
      top: 210px;
    }
  }

  .accueil-presentation{
    margin-top: 50px;

    .presentation-img{
      margin-top: 50px;

    }

    .presentation-video{
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 70px;
      margin: auto;
    }
  }

  .accueil-vision{
    .agenda{
      margin-top: 50px;
      border-top: dashed 1px rgba(255,255,255, .5);
      padding-top: 50px;

      img{
        margin-top: 10px;
      }
    }
  }
  .organigramme{
    li{
      margin-bottom: 12px;
      a{
        font-size: 8px;
      }
    }
  }
}

@media screen and (min-width: 469px) and (max-width: 768px) {
  .accueil-carousel{
    .logo-partenaire{
      top: 200px;
    }
  }

  .accueil-presentation{
    .presentation-img{
      margin-top: 200px;
    }
  }

  .accueil-vision{
    .agenda{
      margin-top: 50px;
      border-top: dashed 1px rgba(255,255,255, .5);
      padding-top: 50px;
    }

    img{
      margin-top: 10px;
    }
  }

  .organigramme{
    li{
      margin-bottom: 6px;
      a{
        font-size: 8px;
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
  .presentation-img{
    img{
      margin-top: 80px;
    }
  }

}

@media screen and (min-width: 1025px) and (max-width: 1440px){
  .organigramme{
    li{
      a{
        font-size: 8px;
      }
    }
  }
  .presentation-img{
    img{
      top: -100px;
    }
  }
}